// SPDX-License-Identifier: (GPL-2.0-only OR MIT)
/*
 * Copyright (C) 2026 Alastair D'Silva <alastair@d-silva.org>
 */

/dts-v1/;

#include "sun60i-a733.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {
	model = "OrangePi 4 Pro";
	compatible = "xunlong,orangepi-4-pro", "allwinner,sun60i-a733";

	aliases {
		ethernet0 = &gmac0;
		serial0 = &uart0;
		mmc0 = &mmc0;
		mmc2 = &mmc2;
	};

	chosen {
		stdout-path = "serial0:115200n8";

		framebuffer: framebuffer@0 {
			compatible = "allwinner,simple-framebuffer", "simple-framebuffer";
			status = "disabled";
		};
	};

	reg_usb1_vbus: regulator-usb1-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb1-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpios = <&pio 1 7 GPIO_ACTIVE_LOW>; /* PB7 */
		regulator-always-on;
		regulator-boot-on;
	};

	reg_usb0_vbus: regulator-usb0-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb0-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins>;
	vmmc-supply = <&reg_dldo1>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>; /* PF6 */
	broken-cd;
	bus-width = <4>;
	status = "okay";
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_pins>;
	vmmc-supply = <&reg_dldo1>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&r_i2c0 {
	status = "okay";

	axp8191: pmic@36 {
		compatible = "x-powers,axp8191";
		reg = <0x36>;
		#address-cells = <1>;
		#size-cells = <0>;

		regulators {
			reg_dldo1: dldo1 {
				regulator-name = "vcc-sd";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			reg_dcdc2: dcdc2 {
				regulator-name = "axp8191-dcdc2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1540000>;
				regulator-always-on;
				regulator-boot-on;
			};

			reg_cldo2: cldo2 {
				regulator-name = "axp8191-cldo2";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			reg_dc1sw1: dc1sw1 {
				regulator-name = "vcc-ephy";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			reg_dc1sw2: dc1sw2 {
				regulator-name = "vcc-gmac-io";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};

			reg_bldo1: bldo1 {
				regulator-name = "vcc-pk";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			reg_bldo2: bldo2 {
				regulator-name = "vcc-pj";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			reg_bldo4: bldo4 {
				regulator-name = "vcc-1v8-audio";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};
};

&gmac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_pins>;
	phy-mode = "rgmii-id";
	phy-handle = <&phy0>;
	phy-supply = <&reg_dc1sw1>;
	dwmac-supply = <&reg_dc1sw2>;
	snps,reset-gpio = <&pio 7 16 GPIO_ACTIVE_LOW>; /* PH16 */
	snps,reset-delays-us = <0 10000 150000>;
	status = "okay";

	mdio0: mdio {
		phy0: ethernet-phy@1 {
			reg = <1>;
			compatible = "ethernet-phy-ieee802.3-c22";
		};
	};
};

&usbphy {
	usb0_vbus-supply = <&reg_usb1_vbus>;
	usb1_vbus-supply = <&reg_usb0_vbus>;
	status = "okay";
};

&ehci0 {
	vbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&ohci0 {
	vbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&ehci1 {
	vbus-supply = <&reg_usb0_vbus>;
	status = "okay";
};

&ohci1 {
	vbus-supply = <&reg_usb0_vbus>;
	status = "okay";
};

&dwc3 {
	vbus-supply = <&reg_usb1_vbus>;
	dr_mode = "host";
	status = "okay";
};

&pcie_rc {
	status = "okay";
	power-gpios = <&r_pio 0 3 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&pio 3 22 GPIO_ACTIVE_HIGH>;
	wake-gpios = <&pio 3 21 GPIO_ACTIVE_HIGH>;
};

&s_pwm {
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pc_pins>;
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
	};
};

&ths {
	status = "okay";
};

&gpadc {
	status = "okay";
};

&ce {
	status = "okay";
};

&sunxi_drm {
	status = "okay";
};

&disp0_hdmi0 {
	enable = <1>;
	status = "okay";
	logo,uboot = "bootlogo.bmp";
};

&de {
	status = "okay";
};

&vo1 {
	status = "okay";
};

&tv0 {
	status = "okay";
};

&hdmi0 {
	dcdc2-supply = <&reg_dcdc2>;
	cldo2-supply = <&reg_cldo2>;
	hdmi_power0 = <&reg_dcdc2>;
	hdmi_power1 = <&reg_cldo2>;
	uhdmi_power_count = <2>;

	uhdmi_fast_output = <0>;
	uhdmi_resistor_select = <1>;

	snps_phy = <
		 25000 185625 0x0007 0x8160 0x8188
		185625 185625 0x0007 0x8160 0x8198
		185625 340000 0x0004 0x8040 0x8E85
		340000 600000 0x0000 0x80c0 0x82F6>;

	status = "okay";
};

